.div_notes {
  background-image: url(../../public/images/Background_notes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d7c1e0;
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#container_all_notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  gap: 2rem;
  word-wrap: break-word;
}
#button_add_note {
  background-color: transparent;
  border-style: none;
}
#add_button {
  height: 75px;
  width: 75px;
  margin-right: 1rem;
}
#container_header {
  display: flex;
  justify-content: space-between;
  background-color: #38486f;
}
#user_name {
  font-size: 22px;
  margin-left: 1rem;
  color: white;
}
#section_button_logout {
  display: flex;
  justify-content: flex-end;
}
#button_logout {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 90%;
  height: min-content;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  margin: 1rem;
  color: white;
}
#container_notes {
  /* background-image: url(../../public/images/Note.png); */
  /* background-repeat: no-repeat;
  background-size: contain; */
  background-color:#876A96;
  border-radius: 1rem;
  height: 250px;
  width: 260px;
  overflow: auto;
  margin: 20px;
  
}
#container_notes_header{
  display: flex;
  flex-wrap: wrap;
}
.print_tittle {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}
.print_note {
  font-size: 15px;
  margin-left: 15px;
  font-weight: 300;
}
#date{
  font-size: 10px;
}
.buttons_update_delete {
  background-color: transparent;
  border-style: none;
}
#img_button_edit {
  width: 35px;
  height: 35px;
 margin-left: 190px;
 margin-top: 50px;
}
#img_button_delete{
  width: 17px;
  height: 17px;
}
